
<div class="row" *ngIf='isLoaded' style='display: flex; height: 100%; flex-wrap: wrap'> 

    <div class="card" *ngFor='let card of places'
     style='height: max-content; padding: 5px 5px 5px 5px;
          margin: 10px 10px 10px 10px; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem;'>
      <div class="card-body">
        <div class="card-block">
          <h4 class="card-title">{{card.name}}</h4>
          <h6 class="card-subtitle text-muted">{{card.address}}</h6>
        </div>
        <img class="img-fluid" src="{{card.images[0]}}" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">Описание: {{card.description}}</p>
          <p class="card-text">Особенности: {{card.facilities[0]}}, {{card.facilities[1]}}</p>
          <h5 class="card-title">Рейтинг: {{card.rating}}</h5>
          <div style='display: flex; justify-content: space-around; align-items: baseline'>
            <a class="card-link danger" href="{{card.site}}" target="_blank"><strong>Сайт</strong></a>
            <button type="button" class="btn btn-secondary" style='border: none; outline:none;'>Забронировать</button>
          </div>

        </div>
      </div>
    </div>
  
</div>
